@font-face {
    font-family: vazir-l;
    src: url("font/fonts/webfonts/Vazirmatn-Light.woff2") format("woff2");
}

@font-face {
    font-family: vazir-t;
    src: url("font/fonts/webfonts/Vazirmatn-Thin.woff2") format("woff2");
}

html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

/* color */

body{
    background: linear-gradient(167.44deg, #08244F 0%, #134CB5 47.38%, #0B42AB 100%);
    min-height:700px;
}

.text-c{
    color: rgba(255, 255, 255, 1);
}

.line{
    border: 0.5px solid rgba(255, 255, 255, 0.1);
}

.container{
    padding: 68px 58px ;
}

.flex{
    display: flex;
    align-items: center;
}

.jc-space-between{
    justify-content: space-between;
}

.jc-center{
    justify-content: center;
}

/* gap */

.gap-8{
    gap: 8px;
}

.gap-36{
    gap: 36px;
}

.al-center{
    text-align: center;
}

/* font size */

.fs-14{
    font-size: 14px;
}

.fs-16{
    font-size: 15px;
}

..fs-20{
    font-size: 20px;
}

.fs-40{
    font-size: 40px;
}

/* width and height

.h-30{
    height: 31px;
}

.h65{
    height: 65px;
}

.w-85{
    width: 85px;
} */

.min-w-865{
    min-width: 865px;
}

.min-w-200{
    min-width: 200px;
}

.min-w-400{
    min-width: 400px;
}

.f-weight-300{
    font-weight: 300px;
}

.f-weight-400{
    font-weight:400px;
}

.f-weight-500{
    font-weight: 500px;
}

.f-weight-600{
    font-weight: 600;
}

.f-weight-700{
    font-weight: 700;
}

/* margin */

.mt-10{
    margin-top: 10px;
}

.mt-15{
    margin-top: 15px;
}

.mt-70{
    margin-top: 70px;
}

.weather-chart{
    background: rgba(0, 16, 38, 0.3);
    border: solid 1px rgba(0, 16, 38, 0.3);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    padding: 20px 40px;
}

.max-min-weather{
    font-family: "vazir-t";
}

.header-top , .moment-degree , .header-weather-chart  , .text-day{
    font-family: "vazir-l";
}