@font-face {
    font-family: vazir-l;
    src: url("font/fonts/webfonts/Vazirmatn-Light.woff2") format("woff2");
}

@font-face {
    font-family: vazir-t;
    src: url("font/fonts/webfonts/Vazirmatn-Thin.woff2") format("woff2");
}

html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

/* color */

body{
    background: linear-gradient(167.44deg, #08244F 0%, #134CB5 47.38%, #0B42AB 100%);
    min-height:700px;
}

.text-c{
    color: rgba(255, 255, 255, 1);
}

.line{
    border: 0.5px solid rgba(255, 255, 255, 0.1);
}

.container{
    padding: 68px 58px ;
}

.flex{
    display: flex;
    align-items: center;
}

.jc-space-between{
    justify-content: space-between;
}

.jc-center{
    justify-content: center;
}

/* gap */

.gap-8{
    gap: 8px;
}

.gap-36{
    gap: 36px;
}

.al-center{
    text-align: center;
}

.margin-r-5{
    margin-right: 5px;
}

.margin-t-15{
    margin-top: 15px;
}

/* font size */

.fs-12{
    font-size: 12px;
}

.fs-14{
    font-size: 14px;
}

.fs-16{
    font-size: 15px;
}

.fs-20{
    font-size: 20px;
}

.fs-40{
    font-size: 40px;
}

/* width and height

.h-30{
    height: 31px;
}

.h65{
    height: 65px;
}

.w-85{
    width: 85px;
} */

.min-w-865{
    min-width: 865px;
}

.min-w-160{
    min-width: 160px;
}

.min-w-400{
    min-width: 400px;
}

.f-weight-300{
    font-weight: 300px;
}

.f-weight-400{
    font-weight:400px;
}

.f-weight-500{
    font-weight: 500px;
}

.f-weight-600{
    font-weight: 600;
}

.f-weight-700{
    font-weight: 700;
}

/* margin */

.mt-10{
    margin-top: 10px;
}

.mt-15{
    margin-top: 15px;
}

.mt-70{
    margin-top: 70px;
}

.text-l{
    text-align: start;
}

.padding-8-0{
    padding: 8px 0px;
}

.weather-chart{
    background: rgba(0, 16, 38, 0.3);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    padding: 20px 40px;
}

.max-min-weather{
    font-family: "vazir-t";
}

.header-top , .moment-degree , .header-weather-chart  , .text-day{
    font-family: "vazir-l";
}

.weight-280{
    width: 280px;
    height: 280px;
}

.weight-20{
    width: 20px;
    height: 23.33px;
}

.weight-40{
    width: 40px;
    height: 40px;
}
/* responsive */

@media only screen and (max-width: 1350px) {
    .main{
        flex-wrap: wrap;
        text-align: center;
    }

    .main-part-left{
    text-align: center;
    width: 100%;
    }

    .main-part-right{
        text-align: center;
        width: 100%;
    }
    
    .weather-chart{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .weather-chart{
        min-width: 300px;
    }

}

@media only screen and (max-width: 768px) {
    .weather-chart{
        min-width: 300px;
    }

    .min-w-130{
        min-width: 130px;
    }

    .min-w-52{
        min-width: 52px;
    }
}

@media only screen and (max-width: 576px) {
    .min-w-52{
        min-width: 52px;
    }

    .weather-chart{
        min-width: 300px;
    }

    .min-w-130{
        min-width: 130px;
    }

    .container{
        padding: 32px 16px ;
    }

    .gap-16{
        gap: 16px;
    }
}

@media only screen and (max-width: 356px) {
    .min-w-130{
        min-width: 130px;
    }

    .container{
        padding: 32px 16px ;
    }

    .min-w-52{
        min-width: 52px;
    }
}